

.logo{
    margin-right: 25px;
    
}

.menubar-right{
    display: flex;
    align-items: center;
    gap: 25px;
}

.cart-container{
    position: relative;
    margin-right: 20px;
}

.cart-badge{
    position: absolute;
    top: -9px;
    right: -13px;
}

.active{
    color: tomato !important;
}

.dropdown-menu li{
    cursor: pointer;
}